<div class="page-header">
    <hello>{{ title }}</hello>
</div>

<h3>SharedService: AppName =  {{ appName }}</h3>


<h3>Configuration: UserName = {{ userName }}</h3>

<div class="row">
    <div class="col-md-4">
        <h3>Search Results</h3>
        <div class="list-group">
            <search-result ng-repeat="searchResult in searchResults"
                           search-result-object="searchResult"
                           format-search-result-function="formatSearchResult(asearchResult)">
                        *search result may not be accurate
            </search-result>
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" min="0" class="form-control" id="quantity" placeholder="Quantity" 
                ng-model="invoice.quantity">
            </div>
        
            <div class="form-group">
                <label for="cost">Cost</label>
                <input type="number" min="0" class="form-control" id="cost" placeholder="Cost"
                  ng-model="invoice.cost">
              </div>
        
            <button type="button" class="btn btn-primary" 
                ng-click="invoice.calculateInvoiceTotal(invoice.quantity, invoice.cost, $event)">Calculate</button>
        </form>

        <strong>Total:</strong> {{ invoice.total | currency }}
    </div>  
    
    <div class="col-md-4">
        <div ng-controller="personInfoCtrl">
            <div person-info></div>
        </div>
    </div>
</div>








